# Import Libraries

In [2]:
import pandas as pd

# Load the dataset

In [3]:
# Load training data
training = pd.read_csv("../dataset/um/base.dta", sep=" ", header=None, names=["userId", "movieId", "date", "rating"])
valid = pd.read_csv("../dataset/um/valid.dta", sep=" ", header=None, names=["userId", "movieId", "date", "rating"])
test = pd.read_csv("../dataset/um/test.dta", sep=" ", header=None, names=["userId", "movieId", "date", "rating"])

In [4]:
# Load test data
qual = pd.read_csv("../dataset/um/qual.dta", sep=" ", header=None, names=["userId", "movieId", "date"])

In [5]:
training.head()

   userId  movieId  date  rating
0       1      185  2160       1
1       1      490  2160       4
2       1     3315  2160       4
3       1     3694  2160       4
4       1     4821  2160       5

In [6]:
training.isnull().sum()

userId     0
movieId    0
date       0
rating     0
dtype: int64

In [2]:
with open("../dataset/um/qual.dta", 'r') as qual:
    with open("../dataset/um/trial.dta", 'w') as pred:
        for line in qual:
            x = line.split(' ')
#             r = obj.predict(x[0], x[1])
    
            pred.write(str(x[1]) + '\n')